form action='/games' method='post'
  input type='text' name='game[player1]' placeholder='Player 1 Name'
  input type='text' name='game[player2]' placeholder='Player 2 Name'
  input type='submit' value='Start Game!'
